    <nav class="cover-navigation cover-navigation--primary">
<!--    <nav class="cover-navigation navigation--social">-->
        <ul class="navigation">
          <!--<li class="navigation__item"><a href="{{ site.baseurl }}/#" title="link to Tweets" class="panel-button"><i class="icon icon-social-twitter"></i>&nbsp;Tweets</a></li>-->
            <li class="navigation__item">
                <a href="{{ site.baseurl }}/#aboutme" title="About me" class="panel-button aboutme-button">
                    <i class="fa-solid fa-male"></i>
                    &nbsp;Su di me
                </a>
            </li>
            <li class="navigation__item">
                <a href="{{ site.baseurl }}/didattica" title="Didattica" class="panel-button didattica-button">
                    <i class="fa-solid fa-graduation-cap"></i>
                    &nbsp;Didattica
                </a>
            </li>
            <li class="navigation__item">
                <a href="{{ site.baseurl }}/pubblicazioni" title="Pubblicazioni" class="panel-button pubblicazioni-button">
                    <i class="fa-solid fa-book"></i>
                    &nbsp;Pubblicazioni
                </a>
            </li>
            <li class="navigation__item">
                <a href="{{ site.baseurl }}/#progetti" title="Progetti" class="panel-button projects-button">
                    <i class="fa-solid fa-file-code"></i>
                    &nbsp;Progetti
                </a>
            </li>
        </ul>
      </nav>

<!-- Su di me, Didattica, Pubblicazioni, Progetti, Contatti -->